@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	/* box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1); */
	overflow: hidden;
	/* background: linear-gradient(to top right, darkmagenta 0%, hotpink 100%); */
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
  position: absolute;
  width: 300px;
  height: 260px;
  top: 70px;
  left: 50px;
  background: #fff;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.title {
  font-size: 16px;
  color: #676767;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.dropzone {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100px;
  height: 80px;
  top: 86px;
  left: 100px;
  border: 1px dashed #a4a4a4;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
}
  /* &.is-dragover {
    border-color: #666;
    background: #eee;
  }

  .content {
    display: table-cell;
    vertical-align: middle;
  }

  .upload {
    margin: 6px 0 0 2px;
  }

  .filename {
    display: block;
    color: #676767;
    font-size: 14px;
    line-height: 18px;
  }

  .input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
} */

.upload-btn {
	display: block;
	width: 140px;
  height: 40px;
  left: 80px;
  bottom: 24px;
	background: darkmagenta;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 hotpink;
	transition: all 0.3s ease-in-out;
  font-size: 14px;
  position: absolute;
  text-align: center;
  padding: 6px 12px;
}

.bar {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 3px;
  top: 49px;
  left: 0;
  background: #6ece3b;
  transition: all 3s ease-out;
  transform: scaleX(0);
  transform-origin: 0 0;

  &.active {
    transform: scaleX(1) translate3d(0, 0, 0);
  }
}

.syncing {
  position: absolute;
  top: 109px;
  left: 134px;
  opacity: 0;

  &.active {
    animation: syncing 3.2s ease-in-out;
  }
}

.done {
  position: absolute;
  top: 112px;
  left: 132px;
  opacity: 0;

  &.active {
    animation: done 0.5s ease-in 3.2s;
    animation-fill-mode: both;
  }
}

@keyframes syncing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes done {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn {
	display: block;
	width: 140px;
  height: 40px;
	background: darkmagenta;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 hotpink;
	transition: all 0.3s ease-in-out;
  font-size: 14px;
  margin-top: 20px;
}

.btn:hover {
	background: rebeccapurple;
	box-shadow: 0 3px 0 0 deeppink;
}


.logoutWrap {
  top: 16px;
  right: 25px;
  position: absolute;
}
