<!DOCTYPE html>
<html lang="en">
  {%load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Update Movies</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Core CSS -->
    <link href="{% static 'css/materialForm.css' %}" rel="stylesheet" />
    <link href="{% static 'css/update_movies.css' %}" rel="stylesheet" />
  </head>
  <body class="body">
    <form>
    {% csrf_token %}
    <div class="logoutWrap">
        <a href="{% url 'movie:view' %}"><button type="button" class="btn btn-info">View</button></a>
        <a href="{% url 'movie:logout' %}"><button type="button" class="btn btn-dark">Logout</button></a>
      </div>
      <div class="table-title">
        <h3>Update Movies</h3>
      </div>
    <div class="table-fill">
    {% for data in movie_list %}
      <div class="form-group">
        <label for="movieName">Movie Name</label>
        <input
          type="text"
          class="form-control"
          id="movieName"
          placeholder={{ data.name }}
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="director">Director</label>
        <input
          type="text"
          class="form-control"
          id="director"
          placeholder={{ data.director }}
          name="director"
        />
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <input
          type="text"
          class="form-control"
          id="genre"
          placeholder={{ data.genre }}
          name="genre"
        />
      </div>
      <div class="form-group">
        <label for="popularity">Popularity</label>
        <input
          type="text"
          class="form-control"
          id="popularity"
          placeholder={{ data.popularity }}
          name="popularity"
        />
      </div>
      <div class="form-group">
        <label for="imdbRating">IMDB Rating</label>
        <input
          type="text"
          class="form-control"
          id="imdbRating"
          placeholder={{ data.imdb_score }}
          name="imdb_score"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      {% endfor %}
    </form>
  </body>
</html>
