<!DOCTYPE html>
<html lang="en">
  {%load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>View Movies</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Core CSS -->
    <link href="{% static 'css/view_movies.css' %}" rel="stylesheet" />
    <link href="{% static 'css/materialForm.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="table-title">
      <h3>Movies Details</h3>
    </div>
    <form id="searchForm" name="search" method="GET" action="">
      <input type="text" name="q" class="searchBox" placeholder="Search..">
    </form>
    {% if msg %}
      <p> {{ msg }}</p>
    {% endif %}
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-center">S.No</th>
          <th class="text-center">Movie</th>
          <th class="text-center">Director</th>
          <th class="text-center">Genre</th>
          <th class="text-center">Popularity</th>
          <th class="text-center">IMDB Rating</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        {% for data in movie_list %}
          <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">{{ data.name }}</td>
            <td class="text-center">{{ data.director }}</td>
            <td class="text-center">{{ data.genre }}</td>
            <td class="text-center">{{ data.popularity }}</td>
            <td class="text-center">{{ data.imdb_score }}</td>
            <td class="text-center action">
              <a href="{% url 'movie:delete' data.name %}"><i class="fa fa-edit"></i></a>
              <a href="{% url 'movie:delete' data.name %}"><i class="fa fa-trash"></i></a>
              
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
